<div class="bg-blue-500 h-200">
    <div class="mx-5 sm:container sm:mx-auto">

        <div class="flex flex-wrap lg:items-center sm:justify-between">

            <div class="flex justify-center items-center"></div>

            <div class="mt-5 flex flex-wrap lg:mt-0 lg:ml-4">
                <span class="sm:block shadow-sm rounded-md my-2 ml-3">
                    <button type="button" routerLink="/mi-tienda"
                        class="inline-flex items-center px-4 py-2 text-sm leading-5 font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50 transition duration-150 ease-in-out">
                        <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                        </svg>
                        Inicio
                    </button>
                </span>
            </div>
        </div>

    </div>
</div>